@font-face {
	font-family: main;
	src: url(./fonts/Omnes.ttf);
}

@font-face {
	font-family: digital;
	src: url(fonts/Digital\ V2.ttf);
}


html {
	font-family: main;
}

body {
	background-color: var(--third-color);
	margin: 0;
}

h1 {
	text-align: center;
}

p {
	margin: 0;
}

:root {
	--main-color: white;
	--second-color: #a71c09;
	--third-color: rgb(248, 136, 91);
}

#pomid {
	position: absolute;
	top: 1.2rem;
	left: 2rem;
	width: 3.2rem;
}

main {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	height: 100vh;
}

.cover {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
}

.panel, .counters, .notes {
	background-color: var(--third-color);
	border-radius: 1.5rem;
	color: var(--main-color);
	display: flex;
	min-width: 20rem;

	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 0.3rem solid var(--main-color);
	margin: 0 0.5rem;
	margin-top: 15%;
}

.button {
	outline: none;
	color: var(--main-color);
	background-color: var(--third-color);
	border-radius: 0.3rem;
	min-width: 2rem;
	font-size: 1rem;
	border: 2px solid var(--second-color);
	padding: 0.4rem;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9rem;
}

.button:hover {
	background-color: var(--second-color);
}

/*----------------Notes----------------*/
.notes {
	padding: 1rem 0;
	position: relative;
}

.notes div:not(:last-of-type) {
	margin-bottom: 0.5rem;
}

.notes textarea {
	resize: none;
	min-height: 22px;
  max-height: 5rem;
	min-width: 15rem;
	font-size: 1.2rem;
	text-align: left;
	border: none;
}

.notes textarea:focus {
	outline: none;
}

.notes > p {
	color: var(--second-color);
	text-transform: uppercase;
	font-size: 1.4rem;
	text-align: center;
	padding-bottom: 0.5rem;
}

.note-elem > div {
	display: flex;
	align-items: flex-start;
}

.note-elem > p {
	margin-bottom: 0.2rem;
}

.note-elem button {
	margin-left: 0.5rem;
	padding: 0.2rem 0.2rem;
}



/*----------------Panel----------------*/


.pomcount {
	padding: 1rem 0;
	width: 12rem;
}

.pomcount > p {
	color: var(--second-color);
	text-transform: uppercase;
	font-size: 1.4rem;
	text-align: center;
	padding-bottom: 0.5rem;
}

.pomcount > div {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.pomcount > div > p{
	flex: 1 0 50%;
	text-transform: uppercase;
}

.pomcount > div > p:nth-child(even){
	text-align: end;
	font-size: 1.5rem;
	font-family: digital;
}

.current-tablo {
	text-align: center;
	padding: 0rem 0 1rem;
	text-transform: uppercase;
} 
.current-tablo :first-child {
	font-size: 1.4rem;
	color: var(--second-color);
}

.current-tablo :last-child {
	font-size: 1.5rem;
}

.setup {
	display: flex;
	width: 10rem;
	justify-content: space-between;
	font-size: 1.5rem;
	text-align: center;
	text-transform: uppercase;
	color: var(--second-color);
	border: 2px solid var(--second-color);
	padding: 0.6rem 1rem;
	border-radius: 0.6rem;
}

.time {
	color: var(--main-color);
	padding-top: 0.5rem;
	font-size: 1.2rem;
	text-transform: none;
}

.setup button {
	margin-top: 0.5rem;;
}

.timer {
	font-size: 4rem;
	text-align: center;
	padding: 1rem;
	font-family: digital;
}

.buttons {
	padding: 0rem 1rem;
}

.buttons .button {
	min-width: 4rem;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9rem;
}


.tasks {
	padding: 1rem 0;
}

.tasks div:not(:first-of-type) {
	margin-top: 0.2rem;
}

.tasks label {
	display: inline-block;
	min-width: 3.4rem;
}

.tasks label, input[type=radio] {
	margin: 0 0.5rem; 
	
}

.tasks input[type=text] {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9rem;
	text-transform: uppercase;
	text-align: center;
	border-radius: 0.2rem;
	border: 1px solid var(--second-color);
}

/*----------------Tasks Counters----------------*/

.taskcount {
	padding: 1rem 1rem;
	width: 13rem;
}

.taskcount > p {
	color: var(--second-color);
	text-transform: uppercase;
	font-size: 1.4rem;
	text-align: center;
	padding-bottom: 0.5rem;
}

.taskcount > div {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.taskcount > div > p{
	flex: 1 0 50%;
	text-transform: uppercase;
}

.taskcount > div > p:nth-child(even){
	text-align: end;
	font-size: 1.5rem;
	font-family: digital;
}


@media(max-width: 1050px) {
	.panel, .counters, .notes {
		margin-top: 5%;
	}	
}